.chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 600px;
    overflow-x: scroll;
}
.graph {
    padding: 10px;
    position: relative;
    overflow-x: scroll;
    width: 100%;
    height: 80%;
}
    .graph-container {
        height: 500px;
        width: 100%;
        min-width: 100%
    }